{% extends 'base.html' %}

{% block content %}
{% load staticfiles %} 


<h4> ALL-INDIA-HELPINE-NUMBER</h4>
<img src="{% static 'ng03.jpg' %}" height="250"/> &emsp;&emsp; <img src="{% static 'unity.jpg' %}" height="250"/>&emsp;&emsp;<img src="{% static 'corona1.jpg' %}" height="250"/>
<br>

<h4>Hello this website is for the help of people who are 
    stuck in corona-pandemic situation.Here is the list 
    of all the helpline-no of India, State-Wise where
    you can call from anywhere for help.They are helped 
    by the team of their respective state.Here is our
    hero Sonu sood number is also given.This is the platform 
    which I provide to you where you can call for help ,If
    you are stuck in any problem,they must help you. There is one extra bonus for you all 
    get district-wise 
    help and you also get help by my team also.As my chain is growing 
    day by day I try to help you in all over india who are in problem
    through my team or by my website or through any other medium.If you stuck in any problem please
    feel free to call me I try my best to help you in anyway.

</h4>
<br>
<br>
<h4>GO! CALL FOR HELP.</h4>
<br>
<h6>SONU SOOD NUMBER-18001213711,Whatsapp-No-9321472118 
 <br>
 <h6>MY NUMBER-6204488083, whatsapp-no-6204488083</h6> 

<h4>State/UT	Helpline No.</h4>
Andaman & Nicobar	03192-232102
<br>
Andhra Pradesh	0866-2410978
<br>
Arunachal Pradesh	9436055743
<br>
Assam	6913347770
<br>
Bihar	104
<br>
Chandigarh	9779558282
<br>
Chhattisgarh	104
<br>
Dadra Nagar Haveli	104
<br>
Delhi	011-22307145
<br>
Goa	104
<br>
Gujarat	104
<br>
Haryana	8558893911
<br>
Himachal Pradesh	104
<br>
Jammu	01912520982
<br>
Jharkhand	104
<br>
Karnataka	104
<br>
Kashmir	01942440283
<br>
Kerala	0471-2552056
<br>
Ladakh	01982256462
<br>
Lakshadweep	104
<br>
Madhya Pradesh	104
<br>
Maharashtra	020-26127394
<br>
Manipur	3852411668
<br>
Meghalaya	108
<br>
Mizoram	102
<br>
Nagaland	7005539653
<br>
Odisha	9439994859
<br>
Puducherry	104
<br>
Punjab	104
<br>
Rajasthan	0141-2225624
<br>
Sikkim	104
<br>
Tamil Nadu	044-29510500
<br>
Telangana	104
<br>
Tripura	0381-2315879
<br>
Uttarakhand	104
<br>
Uttar Pradesh	18001805145
<br>
West Bengal	1800313444222, 03323412600
<br>
<br>
<h2>The central helpline number: 011-23978046</h2>
<br>

</h6>
<br>
<h5>CLICK ON IMAGE OF AAROGYA SETU TO DOWNLOAD THE APP.</h5>
<a href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_IN">
    <img src="{% static 'setu.jpg' %}" height="100">FOR ANDROID USER CLICK ON FIRST IMAGE</a>&emsp; &emsp;

    <a href="https://apps.apple.com/in/app/aarogyasetu/id1505825357">
        <img src="{% static 'setu.jpg' %}" height="100">FOR MAC USER CLICK ON SECOND IMAGE</a>    

<h5>DOWNLOAD AAROGYA SETU APP 
    <br>                                         
    AND CHECK YOURSELF EVERYTIME
    <br>
    STAY HOME,STAY SAFE.
</h5>
<br>
<br>

<h4>GO! Follow me for more updates.Click on the facbook and instagram icon.</h4>
<br>
<a href="https://www.facebook.com/OYE-ITS-MUSIC-110339910646796/"><img src="{% static 'fb2.jpg' %}" height="50">
    </h6></a> &emsp; &emsp;
&emsp;


<a href="https://www.instagram.com/rv720468/"><img src="{% static 'insta.jpg' %}" height="50">
    </a>


{% endblock %}
