{% extends 'base.html' %}

{% block content %}
{% load staticfiles %} 
<h1>CORONA WARRIORS DETAILS</h1>
<br>
<img src="{% static 'police.jpg' %}" height="225"/> &emsp;&emsp;
<img src="{% static 'doctor.jpg' %}" height="225"/> &emsp;&emsp;
<img src="{% static 'cleaners.jpg' %}" height="225"/>&emsp;&emsp;

<h4>Here are some unbounded story of corona warriors ,They came out and save the 
    people in such a epidemic situation.A big salute to doctor,army,police and cleaners.
    and all the people who help the others.This type of epidemic came after 100 years 
    in the whole world.All are suffering from this epidemic ,mainly poor they have no money 
    and home ,they move from here to there to save their own life from corona.More than 2 months there is lockdown in our country 
    no one do anything .It's our responsibility to save their life by helping each other
    in such pandemic situation.Our country is great ,Here are the some story of many unsung warriors
    who help all the people who are suffered from this epidemic.
    If you are such a great human being and able to help others,  
     help at least 1 one needy people.Then you will become good human being in your own eyesight .
</h4>
<br>
<img src="{% static 'd1.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'd2.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'd3.jpg' %}" height="200"/>&emsp;&emsp;
<h4>
  1.Emergency measures
Following the widespread outbreak of coronavirus in India,
 the country has gone on lockdown to combat the virus - 
 a move that has led to disruption across economic strata.
  To help combat this, Finance Minister Nirmala Sitharaman had announced the following measures.

Agencies
<br>
<br>

2.Relief package
A relief package worth Rs 1.7 
lakh crore has been earmarked 
for the needy and will be disbursed as the government sees fit.

<br>
<br>
3.Coverage
The relief package will cover close to 80 crore people,
 ensuring their safety during the lockdown and for however
  more it might extend.

<br>
<br>
4.Benefits
The Pradhan Mantri Gareeb Kalyan Yojana will give
 the people covered under it five kg of rice/wheat for three months.
<br>
<br>
5.Insurance
Included in this fund is insurance cover for people working in healthcare,
, with each worker getting a Rs 50 lakh insurance cover for the next three months.

Agencies

<br>
<br>


 

</h4>
<br>
<img src="{% static 's1.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 's2.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 's3.jpg' %}" height="200"/>&emsp;&emsp;
<h5>
    “Migrant workers have helped build our roads, homes and offices.
     We cannot stand and watch them be homeless,” says actor Sonu Sood.
      Each day since the COVID-19 lockdown in Mumbai, the actor has been organising buses
       for migrant workers to travel from Mumbai to their respective hometowns.
As part of his ‘Ghar Bhejo’ campaign, he has helped approximately 12,000 migrants reach home,
 and arrangements have been made for another 45,000. He responds to questions over a voice note,
  amid what he calls a ‘crazily busy schedule’ that keeps him awake nearly 22 hours a day.
   Each day, at least around 45,000 people are provided food and water as well.
</h5>
<br>
<img src="{% static 'b1.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'b2.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'b3.jpg' %}" height="200"/>&emsp;&emsp;
<h5>
    Hindustani Bhau stands in solidarity with the nation and has supported India
     to combat the coronavirus pandemic. Vikas Fhatka aka Hindustani Bhau of Bigg Boss 13
      fame also came forward to feed the street dogs during the lockdown due to
       the coronavirus pandemic. His social media account was flooded with love
       , social media users praised him for the kindness act.

Distributing food and water to the dogs gives him immense pleasure.
 He wants to ensure that no one will go hungry. Several people lauded his initiative. 
 Thanks to the hero who stepped in at the right place and at the right time on the ground
  and helped to bring some good optimism to an otherwise serious situation.
</h5>
<br>
<img src="{% static 'c1.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'c2.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'c3.jpg' %}" height="200"/>&emsp;&emsp;
<h5>
    TV actor Ronit Roy became the centre of attention after he revealed in a recent
     interview that he has been taking care of 100 families despite not making money 
     since January. Mr Roy mentioned that he runs a small business, which has been shut
      since March given the nationwide lockdown due to the coronavirus pandemic.
       In an interview with ETimes, Ronit Roy said, "Personally, I haven't made money
        since January. I have a small business which was running, and is now shut since March.
         Whatever I have, I am selling things to support about 100 families that I am responsible for."

</h5>
<br>
<img src="{% static 'e2.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'e3.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'e4.jpg' %}" height="200"/>&emsp;&emsp;
<h5>
Praising the actor,“Thank you @BeingSalmanKhan bhai for
 being there for our frontline warriors, thank you @CMOMaharashtra 
 @AUThackeray ji @MumbaiPolice @CPMumbaiPolice for being there for one and all...
 FRSH sanitisers to be distributed to all our frontline warriors in the Police Dept.”

Fans were moved by Salman’s gesture. One wrote: “Megastar 
#SalmanKhan Donates Huge 1,00,000 (1 Lakh) Bottles of FRSH SANITIZERS
 To Police Personnels in Mumbai Amidst This Coronavirus Lockdown! #LoveUBhaijaan!”


Another fan wrote: “The #SalmanKhan Man with the golden heart that’s 
why he most lovable superstar in country hattoff God bless you. always love #BeingHuman”
</h5>
<br>
<img src="{% static 'f1.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'f2.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'f3.jpg' %}" height="200"/>&emsp;&emsp;
<h5>
    ndia pacer Mohammed Shami said he is trying his best to help the needy,
     especially daily-wage workers during the Covid-19 lockdown.

Mohammed Shami said he saw a migrant labourer fainting in hunger through CCTV
 visuals and that he immediately rushed out of his house to feed him. 
 Shami said the migrant worker was on his way to Bihar from Rajasthan via Lucknow.

The Covid-19 pandemic has brought normal lives to a grinding halt across the globe. 
Several countries have enforced lockdown to combat the spread of the novel coronavirus. 
In India, the lockdown has had a drastic impact on daily-wage labourers, especially the ones in major cities.

As of April 15, more than 11,900 people have been infected by the virus which has led 
to more than 390 deaths in India.

"He was coming from Rajasthan. Just imagine he is supposed to go to Bihar 
which is so far from Lucknow too. He has no means to commute and I saw in my home CCTV camera that he fainted in hunger and was close to my door. So I provided him with food and helped him out," Shami said during an Instagram live chat.

"I am trying to help as much as I can.
 There are migrant workers here who are really struggling to meet ends.
  The highway is also near my house so I can see people having a tough time. I feel I should help and I am doing as much as possible."
</h5>
<br>
<img src="{% static 'g1.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'g2.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'g3.jpg' %}" height="200"/>&emsp;&emsp;
<h5>
Bollywood actor Akshay Kumar has been in the forefront helping
 the corona warriors and daily wage workers ever since the coronavirus outspread. 
 The actor has once again come forward to help the Mumbai 
 Police to detect COVID-19 symptoms by donating about 1000 wrist bands.
  Akshay is the brand ambassador of a healthcare brand and he has given 
  wrist bands that help detect coronavirus symptoms. according to the report in TOI, 
  Mumbai Police will be the first organization in the world enabled to remotely track
   and manage the health of its personnel with the preventive health platform.

The wrist bands that Akshay Kumar has donated will help detect symptoms like blood pressure,
 heart rate, sleep and will also keep a check on step count and calories.
  It will also detect if the temperature of a person is higher than normal or not.
   Reports also claim that the sensor-laden wrist bands which Akshay Kumar has donated 
   to the Mumbai Police will only be available to corona warriors during this time.
</h5>
<br>
<img src="{% static 'h1.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'h2.jpg' %}" height="200"/>&emsp;&emsp;
<img src="{% static 'h3.jpg' %}" height="175"/>&emsp;&emsp;

<h5>
    MUMBAI: Mumbai police commissioner Param Bir Singh on Saturday informed that India cricket skipper Virat Kohli and his wife actor Anushka Sharma have contributed Rs 5 lakh each for police welfare amid the novel coronavirus outbreak.

"Thank you, @imVkohli and @AnushkaSharma for contributing Rs. 5 lacs each towards the welfare of Mumbai Police personnel. Your contribution will safeguard those at the frontline in the fight against Coronavirus. #MumbaiPoliceFoundation," Singh tweeted from h ..


    
Earlier, Kohli and Sharma had given undisclosed amounts to the PM CARES 
fund and Maharashtra Chief Minister's Relief Fund to support the fight against Covid-19.

Maharashtra has the highest number of coronavirus positive cases in the country.


</h5>
<br>
<br>

<div class="text-center">
    <img src="{% static 'i3.jpg' %}" height="300"/>
    
</div>
<br>
<br>

<h3>
AS THERE ARE MANY HEROES WHO INSPIRE US ,HOW TO HELP OTHERS
THERE ARE MANY STORIES WHO TELL US ABOUT THAT .WE ARE INDIANS 
AND READY TO HELP OTHERS IF WE FIND ANYONE IN PROBLEM IN THE WHOLE
WORLD, WE ARE READY TO HELP ,SO PLEASE TAKE OATH WITH ME,THAT WE ALWAYS TAKE CARE OF  EACH OTHERS
AND READY TO FIGHT SUCH EPIDEMIC.SO YOU ALSO BECOME HERO FOR OTHERS BY DOING SUCH SMALL- 
SMALL THINGS.SO GO AHEAD WITH OUR COUNTRY CONTRIBUTE WHATEVER YOU CAN DO AND TRY YOUR BEST EFFORT.
</h3>
<br>

<img src="{% static 'j1.jpg' %}" height="300"/>
<h1>AATAM NIRBHAR BHARAT!</h1>
<br>
<br>



{% endblock %}
